<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form  Peminjaman Barang</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="container">
        <header>
            <h3>Form Peminjaman Barang</h2>
        </header>

        <form action="proses_input.php" method="post">
            <label for="nama_peminjam">Nama Peminjam:</label>
            <input type="text" id="nama_peminjam" name="nama_peminjam" required>

            <label for="barang">Barang:</label>
            <input type="text" id="barang" name="barang" required>

            <label for="jumlah">Jumlah:</label>
            <input type="number" id="jumlah" name="jumlah" required>

            <label for="tanggal_pinjam">Tanggal Pinjam:</label>
            <input type="date" id="tanggal_pinjam" name="tanggal_pinjam" required>

            <label for="estimasi_peminjaman">Estimasi Peminjaman:</label>
            <input type="date" id="estimasi_peminjaman" name="estimasi_peminjaman" required>

            <label for="keterangan">Keterangan:</label>
            <textarea id="keterangan" name="keterangan"></textarea>

			<label for="kondisi_awal">Kondisi Awal:</label>
            <textarea id="kondisi_awal" name="kondisi_awal"></textarea>
			
            <button type="submit">Selesai</button>
			
			<a href="list_peminjaman.php">List Peminjaman</a>
        </form>
    </div>
</body>
</html>
